body {
	font: 100% Helvetica, sans-serif;
	color: #333;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav p, nav div {
	font-size: 2em;
}

nav p a, nav div a {
	font-weight: bold;
}

.box {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.message, .success, .error, .warning {
	border: 1px solid #cccccc;
	padding: 10px;
	color: #333;
}

.success {
	border-color: green;
}

.error {
	border-color: red;
}

.warning {
	border-color: yellow;
}

article[role="main"] {
	float: left;
	width: 62.5%;
}

aside[role="complimentary"] {
	float: right;
	width: 31.25%;
}