@charset "utf-8";
@import url(styles.css);

@media screen {
	body {
		padding: 10px;
	}
}

@media print {
	
}

a:link {
	color: #f00;
	font-size: 12px;
}

h1, h2 + h3 {
	margin: 0;
	font-size: 12px;
	-webkit-transform: scale(0.6);
}

@font-face {
	font-family: "Bitstream Vera Serif Bold";
}

@page :first {
	margin:2in;
}

div {
	background: red;
}

@keyframes test {
	0% { top: 0; left: 0; }
	30% { top: 50px; }
	/* 50% { top: 50px; } */
	68%, 72% { left: 50px; }
	100% { top: 100px; left: 100%; }
}

@supports(min-width) {
	div {
		margin: 10px;
	}
}

@supports (animation-name: test) {
	@keyframes test {
		0% { top: 0; left: 0; }
		30% { top: 50px; }
		68%, 72% { left: 50px; }
		100% { top: 100px; left: 100%; }
	}
}