foo bar {
  a: b; }
foo baz {
  b: c; }

foo bar baz {
  a: b; }
foo bang bip {
  a: b; }

foo {
  a: b; }
  foo bar {
    c: d; }

foo {
  a: b; }
  foo bar {
    c: d; }

foo {
  ump: nump;
  grump: clump; }
  foo bar {
    blat: bang;
    habit: rabbit; }
    foo bar baz {
      a: b; }
    foo bar bip {
      c: d; }
  foo bibble bap {
    e: f; }

foo .bar {
  a: b; }
foo :baz {
  c: d; }
foo bang:bop {
  e: f; }

foo {
  bar: baz bang bop biddle woo look at all these elems; }
  foo bar:baz:bang:bop:biddle:woo:look:at:all:these:pseudoclasses {
    a: b; }
  foo bar:baz bang bop biddle woo look at all these elems {
    a: b; }

foo
bar {
  a: b; }

foo baz,
foo bang,
bar baz,
bar bang {
  a: b; }

foo
bar baz
bang {
  a: b; }
foo
bar bip bop {
  c: d; }

foo bang, foo bip
bop, bar
baz bang, bar
baz bip
bop {
  a: b; }

#foo #bar,
#baz #boom {
  a: b; }

#bip #bop {
  c: d; }

foo:hover {
  a: b; }
bar foo.baz {
  c: d; }

bar foo.baz! .bip {
  a: b; }

bar foo bar.baz! .bip {
  c: d; }

foo:hover foo:active, foo.suff3, bar:hover foo:active, bar.suff3, baz:hover foo:active, baz.suff3, foo:hover bar:active, bar:hover bar:active, baz:hover bar:active, foo:hover baz:active, bar:hover baz:active, baz:hover baz:active {
  padding: 10px; }
