body {
	font-family: 'Lucida Grande', arial, sans-serif;
    font-size: 11px;
}

@font-face {
	font-family: 'Entypo';
	src: url('entypo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

i {
	font-weight: normal;
	font-style: normal;
	font-size: 25px;
	line-height: 0.5;
	display: inline-block;
	font-family: entypo;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

i.reload:before {
	content: '\1F504';
}

.socket {
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.socket__status.active {
	color: #0f0;
}

.socket__status.inactive {
	color: #f00;
}

.socket .reload {
	color: #aaa;
	position: absolute;
	cursor: pointer;
	margin-top: 1px;
	margin-left: 0.1em;
}