.parent {
  @at-root .child {
    padding: 10px;
    .child2 {
      margin:10px;
    }
  }
}

@media print {
	.parent {
	  @at-root .child {
	    padding: 10px;
	    .child2 {
	      margin:10px;
	    }
	  }
	}
}