// @mixin prop {
// 	margin: 10px;
// }

// @mixin test {
// 	a {
// 		@include prop;
// 		padding: 10px;
// 	}
// }

// @mixin with-args() {

// }

// div {
// 	@include test;
// }

// @include test;

@mixin sexy-border($color, $width) {
  border: {
    color: $color;
    width: $width;
    style: dashed;
  }
}

p {
	@include sexy-border(blue, 1in);
}